body {
  background-color: #99e699;
}

.jumbotron {
  color: #fff;
}

@media (max-width: 767px) {
  .jumbotron {
    background-image: url("/static/small.jpeg");
  }
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url("/static/screen.jpeg");
  }
}

hr {
  border-color: #fff;
}

#jumbo-h1, #jumbo-link {
  font-weight: bold;
}

label.error {
  color: #b30000;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0;
}
